{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="rich-text__heading rte inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'caption' -%}
              <p
                class="rich-text__caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                 {% if block.settings.icon != blank %}
                   {% if block.settings.icon contains '.svg' %}
                     <span class="rich-text__icon"
                           style="{% if block.settings.icon_color != blank %}color:{{ block.settings.icon_color }};{% endif %}width:{{ block.settings.icon_scale | default: 24 }}px;height:{{ block.settings.icon_scale | default: 24 }}px;"
                           aria-hidden="true">{{ block.settings.icon | inline_asset_content }}</span>
                   {% else %}
                     <img src="{{ block.settings.icon | asset_url }}" class="rich-text__icon"
                          width="{{ block.settings.icon_scale | default: 24 }}"
                          height="{{ block.settings.icon_scale | default: 24 }}"
                          {% if block.settings.icon_color != blank %}style="color:{{ block.settings.icon_color }};"{% endif %}
                          alt="" aria-hidden="true">
                   {% endif %}
                 {% endif %}
                 {{ block.settings.caption | escape }}
              </p>
            {%- when 'text' -%}
              <div
                class="rich-text__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'button' -%}
              <div
                class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.button_label != blank -%}
                  <a
                    {% if block.settings.button_link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.rich-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.rich-text.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.rich-text.blocks.heading.settings.heading.default",
          "label": "t:sections.rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.rich-text.blocks.caption.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.rich-text.blocks.caption.settings.text.default",
          "label": "t:sections.rich-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.rich-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.rich-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.rich-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
            "label": "t:sections.rich-text.blocks.caption.settings.caption_size.label",
          },
            {
              "type": "select",
              "id": "icon",
              "options": [
                { "value": "", "label": "None" },
                { "value": "icon-3d-model.svg", "label": "icon-3d-model.svg" },
                { "value": "icon-apple.svg", "label": "icon-apple.svg" },
                { "value": "icon-account.svg", "label": "icon-account.svg" },
                { "value": "icon-zoom.svg", "label": "icon-zoom.svg" },
                { "value": "icon-washing.svg", "label": "icon-washing.svg" },
                { "value": "icon-vimeo.svg", "label": "icon-vimeo.svg" },
                { "value": "icon-youtube.svg", "label": "icon-youtube.svg" },
                { "value": "icon-stopwatch.svg", "label": "icon-stopwatch.svg" },
                { "value": "icon-snowflake.svg", "label": "icon-snowflake.svg" },
                { "value": "icon-tick.svg", "label": "icon-tick.svg" },
                { "value": "icon-snapchat.svg", "label": "icon-snapchat.svg" },
                { "value": "icon-tumblr.svg", "label": "icon-tumblr.svg" },
                { "value": "icon-truck.svg", "label": "icon-truck.svg" },
                { "value": "icon-twitter.svg", "label": "icon-twitter.svg" },
                { "value": "icon-success.svg", "label": "icon-success.svg" },
                { "value": "icon-tiktok.svg", "label": "icon-tiktok.svg" },
                { "value": "icon-unavailable.svg", "label": "icon-unavailable.svg" },
                { "value": "icon-star.svg", "label": "icon-star.svg" },
                { "value": "icon-return.svg", "label": "icon-return.svg" },
                { "value": "icon-share.svg", "label": "icon-share.svg" },
                { "value": "icon-shopify.svg", "label": "icon-shopify.svg" },
                { "value": "icon-search.svg", "label": "icon-search.svg" },
                { "value": "icon-serving-dish.svg", "label": "icon-serving-dish.svg" },
                { "value": "icon-shoe.svg", "label": "icon-shoe.svg" },
                { "value": "icon-recycle.svg", "label": "icon-recycle.svg" },
                { "value": "icon-remove.svg", "label": "icon-remove.svg" },
                { "value": "icon-ruler.svg", "label": "icon-ruler.svg" },
                { "value": "icon-silhouette.svg", "label": "icon-silhouette.svg" },
                { "value": "icon-reset.svg", "label": "icon-reset.svg" },
                { "value": "icon-shirt.svg", "label": "icon-shirt.svg" },
                { "value": "icon-price-tag.svg", "label": "icon-price-tag.svg" },
                { "value": "icon-plus.svg", "label": "icon-plus.svg" },
                { "value": "icon-question-mark.svg", "label": "icon-question-mark.svg" },
                { "value": "icon-perfume.svg", "label": "icon-perfume.svg" },
                { "value": "icon-plane.svg", "label": "icon-plane.svg" },
                { "value": "icon-plant.svg", "label": "icon-plant.svg" },
                { "value": "icon-play.svg", "label": "icon-play.svg" },
                { "value": "icon-pinterest.svg", "label": "icon-pinterest.svg" },
                { "value": "icon-lock.svg", "label": "icon-lock.svg" },
                { "value": "icon-pause.svg", "label": "icon-pause.svg" },
                { "value": "icon-minus.svg", "label": "icon-minus.svg" },
                { "value": "icon-pants.svg", "label": "icon-pants.svg" },
                { "value": "icon-map-pin.svg", "label": "icon-map-pin.svg" },
                { "value": "icon-nut-free.svg", "label": "icon-nut-free.svg" },
                { "value": "icon-paw-print.svg", "label": "icon-paw-print.svg" },
                { "value": "icon-pepper.svg", "label": "icon-pepper.svg" },
                { "value": "icon-padlock.svg", "label": "icon-padlock.svg" },
                { "value": "icon-leather.svg", "label": "icon-leather.svg" },
                { "value": "icon-lightning-bolt.svg", "label": "icon-lightning-bolt.svg" },
                { "value": "icon-lipstick.svg", "label": "icon-lipstick.svg" },
                { "value": "icon-iron.svg", "label": "icon-iron.svg" },
                { "value": "icon-leaf.svg", "label": "icon-leaf.svg" },
                { "value": "icon-instagram.svg", "label": "icon-instagram.svg" },
                { "value": "icon-gluten-free.svg", "label": "icon-gluten-free.svg" },
                { "value": "icon-fire.svg", "label": "icon-fire.svg" },
                { "value": "icon-info.svg", "label": "icon-info.svg" },
                { "value": "icon-heart.svg", "label": "icon-heart.svg" },
                { "value": "icon-hamburger.svg", "label": "icon-hamburger.svg" },
                { "value": "icon-filter.svg", "label": "icon-filter.svg" },
                { "value": "icon-inventory-status.svg", "label": "icon-inventory-status.svg" },
                { "value": "icon-clipboard.svg", "label": "icon-clipboard.svg" },
                { "value": "icon-close-small.svg", "label": "icon-close-small.svg" },
                { "value": "icon-error.svg", "label": "icon-error.svg" },
                { "value": "icon-close.svg", "label": "icon-close.svg" },
                { "value": "icon-checkmark.svg", "label": "icon-checkmark.svg" },
                { "value": "icon-facebook.svg", "label": "icon-facebook.svg" },
                { "value": "icon-eye.svg", "label": "icon-eye.svg" },
                { "value": "icon-check-mark.svg", "label": "icon-check-mark.svg" },
                { "value": "icon-dairy.svg", "label": "icon-dairy.svg" },
                { "value": "icon-discount.svg", "label": "icon-discount.svg" },
                { "value": "icon-dryer.svg", "label": "icon-dryer.svg" },
                { "value": "icon-copy.svg", "label": "icon-copy.svg" },
                { "value": "icon-dairy-free.svg", "label": "icon-dairy-free.svg" },
                { "value": "icon-cart.svg", "label": "icon-cart.svg" },
                { "value": "icon-caret.svg", "label": "icon-caret.svg" },
                { "value": "icon-box.svg", "label": "icon-box.svg" },
                { "value": "icon-bottle.svg", "label": "icon-bottle.svg" },
                { "value": "icon-chat-bubble.svg", "label": "icon-chat-bubble.svg" },
                { "value": "icon-carrot.svg", "label": "icon-carrot.svg" },
                { "value": "icon-cart-empty.svg", "label": "icon-cart-empty.svg" },
                { "value": "icon-arrow.svg", "label": "icon-arrow.svg" },
                { "value": "icon-banana.svg", "label": "icon-banana.svg" }
              ],
                "default": "",
                "label": "Icon"
              },
              {
                "type": "range",
                "id": "icon_scale",
                "label": "Icon size",
                "min": 8,
                "max": 200,
                "step": 4,
                "unit": "px",
                "default": 24
              },
              {
                "type": "color",
                "id": "icon_color",
                "label": "Icon color",
                "default": "#000000"
              }
        ]
    },
    {
      "type": "text",
      "name": "t:sections.rich-text.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.rich-text.blocks.text.settings.text.default",
          "label": "t:sections.rich-text.blocks.text.settings.text.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.rich-text.blocks.buttons.name",
      "limit": 2,
      "settings": [
        {
         "type": "header",
         "content": "t:sections.rich-text.blocks.buttons.settings.header_button1.content"
        },        
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.rich-text.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
         "type": "header",
         "content": "t:sections.rich-text.blocks.buttons.settings.header_button2.content"
        },          
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.rich-text.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.rich-text.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.rich-text.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
